<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ if .Params.description }}
      <meta name="description" content="{{ .Params.description }}">
    {{ else if .Description }}
      <meta name="description" content="{{ .Description }}">
    {{ else }}
      {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}

    {{ if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{ end }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const tables = document.querySelectorAll('table');
        tables.forEach(table => {
          const cells = table.querySelectorAll('td, th');
          cells.forEach(cell => {
            cell.addEventListener('mouseenter', function() {
              const cellIndex = Array.from(this.parentElement.children).indexOf(this);
              const rows = table.querySelectorAll('tr');
              rows.forEach(row => {
                const targetCell = row.children[cellIndex];
                if (targetCell) {
                  targetCell.classList.add('column-highlight');
                }
              });
            });
            cell.addEventListener('mouseleave', function() {
              const cellIndex = Array.from(this.parentElement.children).indexOf(this);
              const rows = table.querySelectorAll('tr');
              rows.forEach(row => {
                const targetCell = row.children[cellIndex];
                if (targetCell) {
                  targetCell.classList.remove('column-highlight');
                }
              });
            });
          });
        });
      });
    </script>
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <footer class="site-footer" >
      <a><p>Copyright &copy; {{ now.Year }} Gustavo de Oliveira Ferreira. All rights reserved.</a>
    </footer>
  </body>
</html>
