{{ define "main" }}
<div class="site-header">
  <a class="site-title">Gustavo de Oliveira Ferreira</a>
  <a class="site-title anim-typewriter">Software Engineer</a>
  <div class="divider"></div>
  <a class="site-subtitle">Mobile Developer @ Oxeanbits & Computer Science Student @ UFBA</a>
  <a class="site-subtitle-phrase">I believe in the power of technology to transform simple ideas into incredible tools</a>
  <a class="site-subtitle-2" href="/about-me">More about me <strong>*here*</strong></a>
</div>

<div class="site-body">

  <section class="block">
    <div class="block-title tooltip">
      Projects
      <span class="tooltip-text">
        Here are some of the projects I've been working on lately to study and learn. You can find more on my github profile
      </span>
    </div>
    <div class="block-body">

      <div class="block-item">
        <a href="https://github.com/gustoliveira/polyglot" class="block-item-link">
          <div class="block-item-title">polyglot</div>
          <div class="block-description">CLI tool to manage translations in android projects</div>
          <div class="block-after">Golang, Kotlin, Bash</div>
        </a>
      </div>

      <div class="block-item">
        <a href="https://github.com/gustoliveira/hiraishin" class="block-item-link">
          <div class="block-item-title">hiraishin</div>
          <div class="block-description">Fly wherever you want</div>
          <div class="block-after">Nodejs</div>
        </a>
      </div>

      <div class="block-item">
        <a href="https://github.com/gustoliveira/openest-subtitles" class="block-item-link">
          <div class="block-item-title">openest-subtitles</div>
          <div class="block-description">Tool to download missing subtitles from opensubtitles.org based in .nfo files
          </div>
          <div class="block-after">Golang, Docker, Bash</div>
        </a>
      </div>

    </div>
  </section>

  <section class="block">
    <div class="block-title tooltip">
      Recent Posts
      <span class="tooltip-text">
        Things I learn, things I do and things I think. Most of what's shared here reflects my opinions, which often change over time. You might find something interesting along the way
      </span>
    </div>
    <div class="block-body">
      {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
      <div class="block-item">
        <a href="{{ .Permalink }}" class="block-item-link">
          <div class="block-item-title" datetime="{{ .Date.Format " 01-02-2006" }}">{{ .Date.Format "2006-01-02" }}
          </div>
          <div class="block-description">{{ .Title }}</div>
        </a>
      </div>
      {{ end }}
    </div>
  </section>

  <section class="block">
    <div class="block-title tooltip">
      Miscellaneous
      <span class="tooltip-text">
        A collection of things I want to share or write and is not *exactly* a blog post. Can have random things here, but I hope you find something interesting
      </span>
    </div>
    <div class="block-body">
      <!-- {{ range first 5 (where .Site.RegularPages "Type" "miscellaneous") }} -->
      <div class="block-item">
        <a href="{{ .Permalink }}" class="block-item-link">
          <div class="block-item-title">{{ .Title }}</div>
          <div class="block-description">{{ .Params.Subtitle }}</div>
        </a>
      </div>
      <!-- {{ end }} -->
    </div>
  </section>

</div>

{{ end }}
